<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>[%date] %level [%thread] [%file:%line] - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="rollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>../logs/trainplan.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>../logs/trainplan.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>[%date] %level [%thread] [%file:%line] - %msg%n</pattern>
		</encoder>
	</appender>

	<!-- project default level -->
	<logger name="org.railway.com.trainplan" level="debug" />

    <logger name="org.springframework" level="ERROR" />
    <logger name="org.hibernate" level="ERROR"/>
    <logger name="org.apache.shiro" level="ERROR" />
    <logger name="org.springside" level="ERROR" />
    <logger name="org.aspectj" level="ERROR" />

	<!--log4jdbc -->
	<logger name="jdbc.sqltiming" level="INFO"/>

	<root level="info">
		<appender-ref ref="console" />
		<appender-ref ref="rollingFile" />
	</root>
</configuration>