<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="crossDictDao">

   <select id="findCrossDictList" resultType="org.railway.com.trainplan.entity.CrossDictInfo">
		SELECT P.*
		FROM 
		(
			SELECT M.*, ROWNUM NUM
			FROM (
					SELECT
					  A.DRAW_GRAPH_ID   drawGrapId,
					  A.BASE_CHART_ID   baseChartId,
					  A.BASE_CHART_NAME baseChartName,
					  A.BASE_CROSS_ID   baseCrossId,
					  A.CROSS_NAME      crossName,
					  B.TOKEN_VEH_BUREAU	ljjm,
					  (SELECT O.LJJC from jhpt_jcsj.ljzd O WHERE O.LJPYM = B.TOKEN_VEH_BUREAU) ljjc
					FROM DRAW_GRAPH A 
					INNER JOIN BASE_CROSS B
					  	ON A.BASE_CROSS_ID = B.BASE_CROSS_ID
				   		AND A.BASE_CHART_ID = #{baseChartId}
				   	
			   			<if test="crossName != null">
			            	AND A.CROSS_NAME LIKE '%${crossName}%'
			        	</if>
			   			<if test="crossName != null">
			            	AND B.TOKEN_VEH_BUREAU = #{tokenVehBureau}	<!-- 担当局 -->
			        	</if>
			)M
		) P
		WHERE P.NUM>=#{rownumstart} AND P.NUM &lt;=#{rownumend}
   </select>

    <select id="findCrossDictList_COUNT" resultType="java.lang.Integer">
    	SELECT
		  COUNT(A.DRAW_GRAPH_ID)
		  
		FROM DRAW_GRAPH A 
		INNER JOIN BASE_CROSS B
		  	ON A.BASE_CROSS_ID = B.BASE_CROSS_ID
	   		AND A.BASE_CHART_ID = #{baseChartId}
	   	
   			<if test="crossName != null">
            	AND A.CROSS_NAME LIKE '%${crossName}%'
        	</if>
   			<if test="crossName != null">
            	AND B.TOKEN_VEH_BUREAU = #{tokenVehBureau}	<!-- 担当局 -->
        	</if>
    	
    </select>


</mapper>