<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="org.railway.com.trainplan.repository.mybatis.RunLineDao">

    <resultMap id="runLine" type="org.railway.com.trainplan.entity.RunLine">
        <id column="ID" property="id"/>
        <result column="NAME" property="name"/>
        <result column="PARENT_ID" property="pinYinCode"/>
        <result column="PARENT_NAME" property="description"/>
        <result column="CHILD_INDEX" property="resourceName"/>
        <result column="BUREAU_ID" property="typeId"/>
        <result column="BUREAU_NAME" property="typeName"/>
        <result column="BUREAU_SHORTNAME" property="resourceBureauId"/>
        <result column="NODE_ID" property="resourceBureauName"/>
        <result column="NODE_NAME" property="sourceBureauShortName"/>
        <result column="TRACK_NAME" property="sourceNodeId"/>
        <result column="SOURCE_TIME" property="sourceNodeName"/>
        <result column="TARGET_TIME" property="targetNodeId"/>
        <result column="VERSION_MAJOR" property="targetNodeName"/>
        <result column="VERSION_MINOR" property="targetBureauId"/>
        <result column="VERSION_MICRO" property="targetBureauName"/>
        <result column="VERSION_QUALIFIER" property="targetBureauShortName"/>
        <result column="VERSION_QUALIFIER" property="routeBureauShortName"/>
        <result column="VERSION_QUALIFIER" property="sourceTime"/>
        <result column="VERSION_QUALIFIER" property="targetTime"/>
        <result column="VERSION_QUALIFIER" property="dataSourceSource"/>
        <result column="VERSION_QUALIFIER" property="ddataSourceId"/>
        <result column="VERSION_QUALIFIER" property="dataSourceName"/>
        <result column="VERSION_QUALIFIER" property="versionMajor"/>
        <result column="VERSION_QUALIFIER" property="versionMinor"/>
        <result column="VERSION_QUALIFIER" property="versionMicro"/>
        <result column="VERSION_QUALIFIER" property="versionQualifier"/>
        <result column="VERSION_QUALIFIER" property="CODE"/>
        <result column="VERSION_QUALIFIER" property="VEHICLE_CYCLE_ID"/>
        <result column="VERSION_QUALIFIER" property="OPERATION"/>
        <collection property="stnList" resultMap="org.railway.com.trainplan.repository.mybatis.RunLineStnDao.runLineStn"/>
    </resultMap>

    <select id="findLineTimeTableByLineId" parameterType="string" resultType="map">
        SELECT * FROM (
        SELECT TLS.CHILD_INDEX AS STN_INDEX, TLS.NAME AS STN_NAME, TLS.BUREAU_NAME AS BUREAU, TLS.BUREAU_SHORTNAME AS STNBUREAU,
        TLS.TRACK_NAME AS TRACK_NAME, '' AS ARR_TIME, TO_CHAR(TLS.TIME, 'yyyy-mm-dd hh24:mi') AS DPT_TIME
        FROM JHPT_RJH.M_TRAINLINE_SCHEDULE_SITEM TLS
        WHERE TLS.PARENT_ID = #{lineId}
        UNION
        SELECT TLS.CHILD_INDEX AS STN_INDEX, TLS.NAME AS STN_NAME, TLS.BUREAU_NAME AS BUREAU, TLS.BUREAU_SHORTNAME AS STNBUREAU,
        TLS.TRACK_NAME AS TRACK_NAME, TO_CHAR(TLS.SOURCE_TIME, 'yyyy-mm-dd hh24:mi') AS ARR_TIME,
        TO_CHAR(TLS.TARGET_TIME, 'yyyy-mm-dd hh24:mi') AS DPT_TIME
        FROM JHPT_RJH.M_TRAINLINE_SCHEDULE_RITEM TLS
        WHERE TLS.PARENT_ID = #{lineId}
        UNION
        SELECT TLS.CHILD_INDEX AS STN_INDEX, TLS.NAME AS STN_NAME, TLS.BUREAU_NAME AS BUREAU, TLS.BUREAU_SHORTNAME AS STNBUREAU,
        TLS.TRACK_NAME AS TRACK_NAME, TO_CHAR(TLS.TIME, 'yyyy-mm-dd hh24:mi') AS ARR_TIME, '' AS DPT_TIME
        FROM JHPT_RJH.M_TRAINLINE_SCHEDULE_TITEM TLS
        WHERE TLS.PARENT_ID = #{lineId}
        ORDER BY STN_INDEX
        )
    </select>

    <select id="findLineInfoByLineId" parameterType="string" resultType="map">
        SELECT TL.NAME AS TRAIN_NAME, TL.SOURCE_BUREAU_NAME AS START_BUREAU, TL.TARGET_BUREAU_NAME AS END_BUREAU, TL.SOURCE_NODE_NAME AS START_STN,
        TL.TARGET_NODE_NAME AS END_STN, TO_CHAR(TL.SOURCE_TIME, 'yyyy-mm-dd hh24:mi') AS START_TIME, TO_CHAR(TL.TARGET_TIME, 'yyyy-mm-dd hh24:mi') AS END_TIME
        FROM JHPT_RJH.M_TRAINLINE TL WHERE TL.ID = #{lineId}
    </select>

    <select id="findUnknownRunLineCount" parameterType="map" resultType="map">
        SELECT COUNT(DISTINCT TL.ID) AS NUM
        FROM JHPT_RJH.M_TRAINLINE TL
        WHERE (TL.SOURCE_TIME > #{startDate} AND TL.SOURCE_TIME &lt;= #{endDate})
        AND NOT EXISTS (SELECT PT.PLAN_TRAIN_ID FROM PLAN_TRAIN PT WHERE TL.ID = PT.DAILYPLAN_ID)
        <if test="bureau != null">
            AND TL.SOURCE_BUREAU_SHORTNAME = #{bureau}
        </if>
    </select>

    <select id="findUnknownRunLine" parameterType="map" resultType="map">
        SELECT TL.ID AS ID, TL.NAME AS NAME, TL.PINYINCODE AS PINYINCODE, TL.DESCRIPTION AS DESCRIPTION, TL.RESOURCE_ID AS RESOURCE_ID,
        TL.RESOURCE_NAME AS RESOURCE_NAME, TL.TYPE_ID AS TYPE_ID, TL.TYPE_NAME AS TYPE_NAME, TL.SOURCE_BUREAU_ID AS SOURCE_BUREAU_ID,
        TL.SOURCE_BUREAU_NAME AS SOURCE_BUREAU_NAME, TL.SOURCE_BUREAU_SHORTNAME AS SOURCE_BUREAU_SHORTNAME, TL.SOURCE_NODE_ID AS SOURCE_NODE_ID,
        TL.SOURCE_NODE_NAME AS SOURCE_NODE_NAME, TL.TARGET_NODE_ID AS TARGET_NODE_ID, TL.TARGET_NODE_NAME AS TARGET_NODE_NAME, TL.TARGET_BUREAU_ID AS TARGET_BUREAU_ID,
        TL.TARGET_BUREAU_NAME AS TARGET_BUREAU_NAME, TL.TARGET_BUREAU_SHORTNAME AS TARGET_BUREAU_SHORTNAME, TL.ROUTE_BUREAU_SHORTNAMES AS ROUTE_BUREAU_SHORTNAMES,
        TL.SOURCE_TIME AS SOURCE_TIME, TL.TARGET_TIME AS TARGET_TIME, TL.DATASOURCE_SOURCE AS DATASOURCE_SOURCE, TL.DATASOURCE_ID AS DATASOURCE_ID,
        TL.DATASOURCE_NAME AS DATASOURCE_NAME, TL.VERSION_MAJOR AS VERSION_MAJOR, TL.VERSION_MINOR AS VERSION_MINOR, TL.VERSION_MICRO AS VERSION_MICRO,
        TL.VERSION_QUALIFIER AS VERSION_QUALIFIER, TL.CODE AS CODE, TL.VEHICLE_CYCLE_ID AS VEHICLE_CYCLE_ID, TL.OPERATION AS OPERATION,
        STN.STN_ID AS STN_ID, STN.STN_NAME AS STN_NAME, STN.PARENT_ID AS PARENT_ID, STN.PARENT_NAME AS PARENT_NAME, STN.STN_INDEX AS STN_INDEX, STN.BUREAU_ID AS BUREAU_ID,
        STN.BUREAU_NAME AS BUREAU_NAME, STN.BUREAU_SHORTNAME AS BUREAU_SHORTNAME, STN.NODE_ID AS NODE_ID, STN.NODE_NAME AS NODE_NAME, STN.TRACK_NAME AS TRACK_NAME,
        STN.SOURCE_TIME AS STN_SOURCE_TIME, STN.TARGET_TIME AS STN_TARGET_TIME, STN.VERSION_MAJOR AS STN_VERSION_MAJOR, STN.VERSION_MINOR AS STN_VERSION_MINOR,
        STN.VERSION_MICRO AS STN_VERSION_MICRO, STN.VERSION_QUALIFIER AS STN_VERSION_QUALIFIER
        FROM JHPT_RJH.M_TRAINLINE TL
        LEFT JOIN (
        SELECT TLS.ID AS STN_ID, TLS.NAME AS STN_NAME, TLS.PARENT_ID AS PARENT_ID, TLS.PARENT_NAME AS PARENT_NAME, TLS.CHILD_INDEX AS STN_INDEX, TLS.BUREAU_ID AS BUREAU_ID,
        TLS.BUREAU_NAME AS BUREAU_NAME, TLS.BUREAU_SHORTNAME AS BUREAU_SHORTNAME, TLS.NODE_ID AS NODE_ID, TLS.NODE_NAME AS NODE_NAME, TLS.TRACK_NAME AS TRACK_NAME,
        NULL AS SOURCE_TIME, TLS.TIME AS TARGET_TIME, TLS.VERSION_MAJOR AS VERSION_MAJOR, TLS.VERSION_MINOR AS VERSION_MINOR, TLS.VERSION_MICRO AS VERSION_MICRO,
        TLS.VERSION_QUALIFIER AS VERSION_QUALIFIER
        FROM JHPT_RJH.M_TRAINLINE_SCHEDULE_SITEM TLS
        UNION
        SELECT TLS.ID AS STN_ID, TLS.NAME AS STN_NAME, TLS.PARENT_ID AS PARENT_ID, TLS.PARENT_NAME AS PARENT_NAME, TLS.CHILD_INDEX AS STN_INDEX, TLS.BUREAU_ID AS BUREAU_ID,
        TLS.BUREAU_NAME AS BUREAU_NAME, TLS.BUREAU_SHORTNAME AS BUREAU_SHORTNAME, TLS.NODE_ID AS NODE_ID, TLS.NODE_NAME AS NODE_NAME, TLS.TRACK_NAME AS TRACK_NAME,
        TLS.SOURCE_TIME AS SOURCE_TIME, TLS.TARGET_TIME AS TARGET_TIME, TLS.VERSION_MAJOR AS VERSION_MAJOR, TLS.VERSION_MINOR AS VERSION_MINOR, TLS.VERSION_MICRO AS VERSION_MICRO,
        TLS.VERSION_QUALIFIER AS VERSION_QUALIFIER
        FROM JHPT_RJH.M_TRAINLINE_SCHEDULE_RITEM TLS
        UNION
        SELECT TLS.ID AS STN_ID, TLS.NAME AS STN_NAME, TLS.PARENT_ID AS PARENT_ID, TLS.PARENT_NAME AS PARENT_NAME, TLS.CHILD_INDEX AS STN_INDEX, TLS.BUREAU_ID AS BUREAU_ID,
        TLS.BUREAU_NAME AS BUREAU_NAME, TLS.BUREAU_SHORTNAME AS BUREAU_SHORTNAME, TLS.NODE_ID AS NODE_ID, TLS.NODE_NAME AS NODE_NAME, TLS.TRACK_NAME AS TRACK_NAME,
        TLS.TIME AS SOURCE_TIME, NULL AS TARGET_TIME, TLS.VERSION_MAJOR AS VERSION_MAJOR, TLS.VERSION_MINOR AS VERSION_MINOR, TLS.VERSION_MICRO AS VERSION_MICRO,
        TLS.VERSION_QUALIFIER AS VERSION_QUALIFIER
        FROM JHPT_RJH.M_TRAINLINE_SCHEDULE_TITEM TLS
        ) STN ON TL.ID = STN.PARENT_ID
        WHERE ((STN.SOURCE_TIME > #{startDate} AND STN.SOURCE_TIME &lt; #{endDate})
        OR (STN.TARGET_TIME > #{startDate} AND STN.TARGET_TIME &lt; #{endDate}))
        AND STN.BUREAU_SHORTNAME = #{bureau}
        AND NOT EXISTS (SELECT PT.PLAN_TRAIN_ID FROM PLAN_TRAIN PT WHERE TL.ID = PT.DAILYPLAN_ID)
        ORDER BY TL.ID, STN.STN_INDEX
    </select>

    <select id="findRunLineById" parameterType="string" resultMap="runLine">
        SELECT TL.ID AS ID, TL.NAME AS NAME, TL.PINYINCODE AS PINYINCODE, TL.DESCRIPTION AS DESCRIPTION, TL.RESOURCE_ID AS RESOURCE_ID,
        TL.RESOURCE_NAME AS RESOURCE_NAME, TL.TYPE_ID AS TYPE_ID, TL.TYPE_NAME AS TYPE_NAME, TL.SOURCE_BUREAU_ID AS SOURCE_BUREAU_ID,
        TL.SOURCE_BUREAU_NAME AS SOURCE_BUREAU_NAME, TL.SOURCE_BUREAU_SHORTNAME AS SOURCE_BUREAU_SHORTNAME, TL.SOURCE_NODE_ID AS SOURCE_NODE_ID,
        TL.SOURCE_NODE_NAME AS SOURCE_NODE_NAME, TL.TARGET_NODE_ID AS TARGET_NODE_ID, TL.TARGET_NODE_NAME AS TARGET_NODE_NAME, TL.TARGET_BUREAU_ID AS TARGET_BUREAU_ID,
        TL.TARGET_BUREAU_NAME AS TARGET_BUREAU_NAME, TL.TARGET_BUREAU_SHORTNAME AS TARGET_BUREAU_SHORTNAME, TL.ROUTE_BUREAU_SHORTNAMES AS ROUTE_BUREAU_SHORTNAMES,
        TL.SOURCE_TIME AS SOURCE_TIME, TL.TARGET_TIME AS TARGET_TIME, TL.DATASOURCE_SOURCE AS DATASOURCE_SOURCE, TL.DATASOURCE_ID AS DATASOURCE_ID,
        TL.DATASOURCE_NAME AS DATASOURCE_NAME, TL.VERSION_MAJOR AS VERSION_MAJOR, TL.VERSION_MINOR AS VERSION_MINOR, TL.VERSION_MICRO AS VERSION_MICRO,
        TL.VERSION_QUALIFIER AS VERSION_QUALIFIER, TL.CODE AS CODE, TL.VEHICLE_CYCLE_ID AS VEHICLE_CYCLE_ID, TL.OPERATION AS OPERATION,
        STN.STN_ID AS STN_ID, STN.STN_NAME AS STN_NAME, STN.PARENT_ID AS PARENT_ID, STN.PARENT_NAME AS PARENT_NAME, STN.STN_INDEX AS STN_INDEX, STN.BUREAU_ID AS BUREAU_ID,
        STN.BUREAU_NAME AS BUREAU_NAME, STN.BUREAU_SHORTNAME AS BUREAU_SHORTNAME, STN.NODE_ID AS NODE_ID, STN.NODE_NAME AS NODE_NAME, STN.TRACK_NAME AS TRACK_NAME,
        STN.SOURCE_TIME AS STN_SOURCE_TIME, STN.TARGET_TIME AS STN_TARGET_TIME, STN.VERSION_MAJOR AS STN_VERSION_MAJOR, STN.VERSION_MINOR AS STN_VERSION_MINOR,
        STN.VERSION_MICRO AS STN_VERSION_MICRO, STN.VERSION_QUALIFIER AS STN_VERSION_QUALIFIER
        FROM JHPT_RJH.M_TRAINLINE TL
        LEFT JOIN (
        SELECT TLS.ID AS STN_ID, TLS.NAME AS STN_NAME, TLS.PARENT_ID AS PARENT_ID, TLS.PARENT_NAME AS PARENT_NAME, TLS.CHILD_INDEX AS STN_INDEX, TLS.BUREAU_ID AS BUREAU_ID,
        TLS.BUREAU_NAME AS BUREAU_NAME, TLS.BUREAU_SHORTNAME AS BUREAU_SHORTNAME, TLS.NODE_ID AS NODE_ID, TLS.NODE_NAME AS NODE_NAME, TLS.TRACK_NAME AS TRACK_NAME,
        NULL AS SOURCE_TIME, TLS.TIME AS TARGET_TIME, TLS.VERSION_MAJOR AS VERSION_MAJOR, TLS.VERSION_MINOR AS VERSION_MINOR, TLS.VERSION_MICRO AS VERSION_MICRO,
        TLS.VERSION_QUALIFIER AS VERSION_QUALIFIER
        FROM JHPT_RJH.M_TRAINLINE_SCHEDULE_SITEM TLS
        UNION
        SELECT TLS.ID AS STN_ID, TLS.NAME AS STN_NAME, TLS.PARENT_ID AS PARENT_ID, TLS.PARENT_NAME AS PARENT_NAME, TLS.CHILD_INDEX AS STN_INDEX, TLS.BUREAU_ID AS BUREAU_ID,
        TLS.BUREAU_NAME AS BUREAU_NAME, TLS.BUREAU_SHORTNAME AS BUREAU_SHORTNAME, TLS.NODE_ID AS NODE_ID, TLS.NODE_NAME AS NODE_NAME, TLS.TRACK_NAME AS TRACK_NAME,
        TLS.SOURCE_TIME AS SOURCE_TIME, TLS.TARGET_TIME AS TARGET_TIME, TLS.VERSION_MAJOR AS VERSION_MAJOR, TLS.VERSION_MINOR AS VERSION_MINOR, TLS.VERSION_MICRO AS VERSION_MICRO,
        TLS.VERSION_QUALIFIER AS VERSION_QUALIFIER
        FROM JHPT_RJH.M_TRAINLINE_SCHEDULE_RITEM TLS
        UNION
        SELECT TLS.ID AS STN_ID, TLS.NAME AS STN_NAME, TLS.PARENT_ID AS PARENT_ID, TLS.PARENT_NAME AS PARENT_NAME, TLS.CHILD_INDEX AS STN_INDEX, TLS.BUREAU_ID AS BUREAU_ID,
        TLS.BUREAU_NAME AS BUREAU_NAME, TLS.BUREAU_SHORTNAME AS BUREAU_SHORTNAME, TLS.NODE_ID AS NODE_ID, TLS.NODE_NAME AS NODE_NAME, TLS.TRACK_NAME AS TRACK_NAME,
        TLS.TIME AS SOURCE_TIME, NULL AS TARGET_TIME, TLS.VERSION_MAJOR AS VERSION_MAJOR, TLS.VERSION_MINOR AS VERSION_MINOR, TLS.VERSION_MICRO AS VERSION_MICRO,
        TLS.VERSION_QUALIFIER AS VERSION_QUALIFIER
        FROM JHPT_RJH.M_TRAINLINE_SCHEDULE_TITEM TLS
        ) STN ON TL.ID = STN.PARENT_ID
        WHERE TL.ID = #{lineId}
        ORDER BY STN.STN_INDEX
    </select>
</mapper> 
