<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="org.railway.com.trainplan.repository.mybatis.RunPlanDAO">

	<select id="findRunPlanByDate" parameterType="string" resultType="map">
        SELECT T.PLAN_TRAIN_ID as PLAN_TRAIN_ID, T.TRAIN_NBR as TRAIN_NBR,
        T.START_STN as START_STN, T.END_STN as END_STN, T.RUN_DATE as RUN_DATE,
        T.DAILYPLAN_FLAG as DAILYPLAN_FLAG, T.DAILYPLAN_TIME as DAILYPLAN_TIME,
        T.HIGHLINE_FLAG as HIGHLINE_FLAG
        FROM PLAN_TRAIN T WHERE T.RUN_DATE = #{date} ORDER BY T.TRAIN_NBR
	</select>

    <select id="findRunPlanStnByTrain" parameterType="string" resultType="map">
        SELECT T.PLAN_TRAIN_STN_ID AS PLAN_TRAIN_STN_ID, T.STN_NAME AS STN_NAME,
        T.ARR_TIME AS ARR_TIME, T.DPT_TIME AS DPT_TIME, T.TRACK_NAME AS TRACK_NAME,
        T.PSG_FLG AS PSG_FLG
        FROM PLAN_TRAIN_STN T WHERE T.PLAN_TRAIN_ID = #{train_id} ORDER BY T.STN_SORT
    </select>
</mapper> 
