<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="runPlanLkDao">

   <select id="getPlanTrainLkInfo"  parameterType="map" resultType="org.railway.com.trainplan.entity.RunPlan">
     
		SELECT  
				PLAN_TRAIN_ID AS planTrainId,
				TRAIN_SORT AS trainSort,
				RUN_DATE AS runDate,
				TRAIN_NBR AS trainNbr,
				TO_CHAR(START_TIME,'yyyy-MM-dd hh24:mi:SS') AS startTimeStr,
				TO_CHAR(END_TIME,'yyyy-MM-dd hh24:mi:SS') AS endTimeStr,
				START_BUREAU AS startBureauShortName,
				START_BUREAU_FULL AS startBureauFullName,
				START_STN AS startStn,
				END_BUREAU AS endBureauShortName,
				END_BUREAU_FULL AS endBureauFullName,
				END_STN AS endStn,
				PASS_BUREAU AS passBureau,
				TOKEN_VEH_BUREAU AS tokenVehBureau,
				TRAIN_SCOPE AS trainScope,
				TRAIN_TYPE_ID AS trainTypeId,
				HIGHLINE_FLAG AS highLineFlag,
				BASE_CHART_ID AS baseChartId,
				BASE_TRAIN_ID AS baseTrainId,
				HIGHLINE_RULE AS hightLineRule,
				COMMONLINE_RULE AS commonLineRule,
				APPOINT_WEEK AS appointWeek,
				APPOINT_DAY AS appointDay,
				SPARE_FLAG AS spareFlag ,
				SPARE_APPLY_FLAG AS spareApplyFlag,
				TEL_BUREAU AS telBureau,
				TEL_ID AS telId,
				TEL_NUM AS telNum,
				CMD_BUREAU AS cmdBureau ,
				CMD_TXTMLID AS cmdTxtmlId,
				CMD_TXTMLITEMID AS cmdTxtmlitemId,
				CMD_SHORTINFO AS cmdShortInfo,
				NOTE AS note,
				CREAT_TYPE AS createType,
				DAILYPLAN_FLAG AS dailyPlanFlag,
				DAILYPLAN_TIMES AS dailyPlanTimes,
				DAILYPLAN_TIME AS dailyPlanTime,
				DAILYPLAN_ID AS dailyPlanId
				
				FROM PLAN_TRAIN
				
		
		WHERE 1=1 AND CREAT_TYPE = 3
		<if test="startDate != null and startDate !='' ">AND RUN_DATE>=#{startDate}</if>
		<if test="endDate !=null and endDate !='' ">AND RUN_DATE &lt;=#{endDate}</if>
		<if test="trainNbr !=null and trainNbr !='' ">AND TRAIN_NBR =#{trainNbr}</if>
		<if test="startBureau != null and startBureau !='' ">AND START_BUREAU = #{startBureau}</if>
		<if test="isRelationBureau == '1' ">AND #{bureau} in (PASS_BUREAU)</if>
		<if test="tokenVehBureau !=null and tokenVehBureau !='' ">AND TOKEN_VEH_BUREAU =#{tokenVehBureau}</if>
		 ORDER BY TRAIN_NBR
   
   </select>
   
   
    <select id="getTrainLkRunPlans" parameterType="map" resultType="org.railway.com.trainplan.entity.CrossRunPlanInfo">
       select t.run_date runDay,
			  t.train_nbr trainNbr,
              t.start_stn startStn,
              t.end_stn endStn,
              t.spare_flag runFlag 
      from plan_train t 
      where CREAT_TYPE = 3 and t.train_nbr=#{trainNbr}  and t.run_date>=#{startDate} and t.run_date &lt;=#{endDate} order by t.TRAIN_SORT, t.run_date
    </select>
    
    
    <select id="getTrainLkInfoForPlanTrainId"  parameterType="string"  resultType="org.railway.com.trainplan.entity.BaseCrossTrainInfoTime">
       select 
	      CASE 
	        WHEN 
	          (SELECT COUNT(*) FROM JHPT_JCSJ.ZDFJK T3 WHERE T3.CNAME=T1.stn_name) >0 
	        THEN 'FJK'
	        WHEN T1.ARR_TIME=T1.DPT_TIME
	        THEN 'BT'
	        ELSE 'TZ'
	      END stationType ,
    T1.PLAN_TRAIN_STN_ID AS planTrainId,
		T1.PLAN_TRAIN_ID ,
		T1.STN_SORT AS stnSort,
		T1.STN_NAME AS stnName,
		T1.STN_BUREAU ,
		T1.STN_BUREAU_FULL  ,
		T1.ARR_TIME AS arrTime ,
		T1.DPT_TIME AS dptTime,
		T1.run_days AS runDays,
		T1.TRACK_NAME AS trackName
    from plan_train_stn T1 where T1.plan_train_id=#{planTrainId} order by T1.stn_sort
    
    </select>
 

	 <select id="getCmdTrainInfoForCmdTxtmlId" parameterType="map"  resultType="org.railway.com.trainplan.entity.CmdTrain">
		SELECT 
		    CMD_TRAIN_ID  AS cmdTrainId,
			CMD_BUREAU  AS cmdBureau,
			CMD_TYPE  AS cmdType,
			CMD_TXTMLID  AS cmdTxtMlId,
			CMD_TXTMLITEMID  AS cmdTxtMlItemId,
			CMD_NBR_BUREAU  AS cmdNbrBureau,
			CMD_ITEM  AS cmdItem,
			CMD_NBR_SUPERIOR  AS cmdNbrSuperior,
			TRAIN_NBR  AS trainNbr,
			START_STN  AS startStn,
			END_STN  AS endStn,
			START_DATE  AS startDate,
			END_DATE  AS endDate,
			RULE  AS rule,
			SELECTED_DATE  AS selectedDate,
			PASS_BUREAU  AS passBureau,
			SELECT_STATE  AS selectState,
			CREATE_STATE  AS createState,
			TO_CHAR(UPDATE_TIME,'yyyy-MM-dd hh24:mi:SS')  AS updateTime,
			TO_CHAR(CMD_TIME,'yyyy-MM-dd hh24:mi:SS')  AS cmdTime
		
		
		FROM CMD_TRAIN WHERE CMD_TXTMLID=${cmdTxtmlId}
     </select>

    
    <select id="getCmdTrainStnInfo"  parameterType="string"  resultType="org.railway.com.trainplan.entity.CmdTrainStn">
      SELECT
        CMD_TRAIN_STN_ID AS cmdTrainStnId ,
		CMD_TRAIN_ID AS  cmdTrainId,
		STN_SORT AS  stnSort,
		STN_NAME AS stnName ,
		STN_BUREAU AS stnBureau ,
		ARR_TRAIN_NBR AS  arrTrainNbr,
		DPT_TRAIN_NBR AS  dptTrainNbr,
		TO_CHAR(ARR_TIME,'yyyy-MM-dd hh24:mi:SS') AS arrTime ,
		TO_CHAR(DPT_TIME,'yyyy-MM-dd hh24:mi:SS') AS  dptTime,
		TO_CHAR(BASE_ARR_TIME,'yyyy-MM-dd hh24:mi:SS') AS  baseArrTime,
		TO_CHAR(BASE_DPT_TIME,'yyyy-MM-dd hh24:mi:SS') AS  baseDptTime,
		RUN_DAYS AS  runDays,
		TRACK_NBR AS trackNbr ,
		PLATFORM AS  platform,
		PSG_FLG AS  psgFlg,
		LOCO_FLAG AS  locoFlag,
		TEC_TYPE AS tecType ,
		STN_TYPE AS  stnType
		      
      
      FROM CMD_TRAIN_STN  WHERE CMD_TRAIN_ID=#{cmdTrainId}
    
    </select>
    
    
    <insert id="insertCmdTrain" parameterType="org.railway.com.trainplan.entity.CmdTrain">
     insert into CMD_TRAIN(
            CMD_TRAIN_ID ,
			CMD_BUREAU  ,
			CMD_TYPE ,
			CMD_TXTMLID ,
			CMD_TXTMLITEMID  ,
			CMD_NBR_BUREAU ,
			CMD_ITEM ,
			CMD_NBR_SUPERIOR ,
			TRAIN_NBR ,
			START_STN ,
			END_STN ,
			START_DATE ,
			END_DATE ,
			RULE  ,
			SELECTED_DATE ,
			PASS_BUREAU ,
			SELECT_STATE ,
			CREATE_STATE ,
			UPDATE_TIME, 
			CMD_TIME
		)values(
		    #{cmdTrainId},
		    #{cmdBureau},
		    #{cmdType},
		    #{cmdTxtMlId},
		    #{cmdTxtMlItemId},
		    #{cmdNbrBureau},
		    #{cmdItem},
		    #{cmdNbrSuperior},
		    #{trainNbr},
		    #{startStn},
		    #{endStn},
		    TO_DATE(#{startDate},'yyyy-MM-dd'),
		    TO_DATE(#{endDate},'yyyy-MM-dd'),
		    #{rule},
		    #{selectedDate},
		    #{passBureau},
		    #{selectState},
		    #{createState},
		    sysdate,
		    TO_DATE(#{cmdTime},'yyyy-MM-dd')		    
		)
		
    
    </insert>
    
    
    <insert id="insertCmdTrainStn" parameterType="org.railway.com.trainplan.entity.CmdTrainStn">
      insert into CMD_TRAIN_STN (
            CMD_TRAIN_STN_ID  ,
			CMD_TRAIN_ID ,
			STN_SORT ,
			STN_NAME ,
			STN_BUREAU  ,
			ARR_TRAIN_NBR ,
			DPT_TRAIN_NBR ,
			ARR_TIME  ,
			DPT_TIME,
			BASE_ARR_TIME  ,
			BASE_DPT_TIME  ,
			RUN_DAYS,
			TRACK_NBR  ,
			PLATFORM ,
			PSG_FLG,
			LOCO_FLAG ,
			TEC_TYPE ,
			STN_TYPE  
         )values(
            #{cmdTrainStnId},
            #{cmdTrainId},
            #{stnSort},
            #{stnName},
            #{stnBureau},
            #{arrTrainNbr},
            #{dptTrainNbr},
            TO_DATE(#{arrTime},'hh24:mi:SS'),
            TO_DATE(#{dptTime},'hh24:mi:SS'),
            TO_DATE(#{baseArrTime},'hh24:mi:SS'),
            TO_DATE(#{baseDptTime},'hh24:mi:SS'),
            #{runDays},
            #{trackNbr},
            #{platform},
            #{psgFlg},
            #{locoFlag},
            #{tecType},
            #{stnType}
	       )
  
  </insert>
  
  
    
</mapper>