<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="trainTimeDao"> 
   <select id="getTrainTimeInfoByTrainId" parameterType="string" resultType="org.railway.com.trainplan.entity.TrainTimeInfo">
 select  * from
(
select
case 
   when 
    T4.STNTYPE='0'
    THEN 'SFZ'
    WHEN
    T4.STNTYPE='2'
    THEN 'ZDZ'
    WHEN 
    T4.STNTYPE='1'
    THEN
      CASE 
        WHEN 
          (SELECT COUNT(*) FROM JHPT_JCSJ.ZDFJK T3 WHERE T3.CNAME=T4.stnname) >0 
        THEN 'FJK'
        WHEN T4.ARRTIME=T4.DPTTIME
        THEN 'BTZ'
        ELSE 'TZ'
      END
end stationFlag ,

T4.*
FROM (
select t2.childIndex,t2.STNNAME,t2.bureauShortName,t2.STNBUREAUFULL,t2.ARRTIME,t2.DPTTIME,t2.stnType,t2.sourceDay,t2.targetDay,t2.TRACKNAME
  from (SELECT t.parent_id as BASE_TRAIN_ID,
               t.parent_name as TRAINNBR,
               T.CHILD_INDEX AS childIndex,
               T.NAME AS STNNAME,
               T.Bureau_Shortname AS bureauShortName,
               T.Bureau_Name as STNBUREAUFULL,
               TO_CHAR(T.TIME, 'hh24:mi:SS') AS ARRTIME,
               TO_CHAR(T.TIME, 'hh24:mi:SS') AS DPTTIME,
               '0' as stnType,
               0 as sourceDay,
               0 as targetDay,
               T.TRACK_NAME AS TRACKNAME
          FROM JHPT_RJH.M_TRAINLINETEMP_SCHEDULE_SITEM T
        UNION all
        SELECT t.parent_id,
               t.parent_name as TRAINNBR,
               T.CHILD_INDEX AS childIndex,
               T.NAME AS STNNAME,
               T.Bureau_Shortname AS bureauShortName,
               T.Bureau_Name as STNBUREAUFULL,
               TO_CHAR(T.SOURCE_TIME, 'hh24:mi:SS') AS ARRTIME,
               TO_CHAR(T.TARGET_TIME, 'hh24:mi:SS') AS DPTTIME,
               '1' as stnType,
               t.relative_source_time_day sourceDay,
               t.RELATIVE_TARGET_TIME_DAY targetDay,
               T.TRACK_NAME AS TRACKNAME
          FROM JHPT_RJH.M_TRAINLINETEMP_SCHEDULE_RITEM T
        UNION all
        SELECT t.parent_id,
               t.parent_name as TRAINNBR,
               T.CHILD_INDEX AS childIndex,
               T.NAME AS STNNAME,
               T.Bureau_Shortname AS bureauShortName,
               T.Bureau_Name as STNBUREAUFULL,
               TO_CHAR(T.TIME, 'hh24:mi:SS') AS ARRTIME,
               TO_CHAR(T.TIME, 'hh24:mi:SS') AS DPTTIME,
               '2' as stnType,
               t.relative_time_day sourceDay,
               t.relative_time_day targetDay,
               T.TRACK_NAME AS TRACKNAME
          FROM JHPT_RJH.M_TRAINLINETEMP_SCHEDULE_TITEM T) t2,
       (select t.id BASE_TRAIN_ID
          from JHPT_RJH.m_trainlinetemp t
         where t.operation = '客运') t1
 where t1.BASE_TRAIN_ID = t2.BASE_TRAIN_ID and t1.BASE_TRAIN_ID=#{baseTrainId}
 order by t1.BASE_TRAIN_ID, childIndex
 ) T4
 )
 
 
   </select> 
   
   
   <select id="getPlanTrainStnInfoForPlanTrainId" parameterType="string" resultType="org.railway.com.trainplan.entity.TrainTimeInfo">
   
  SELECT  
   PLAN_TRAIN_STN_ID AS planTrainStnId ,
PLAN_TRAIN_ID,
STN_SORT,
STN_NAME AS stnName,
STN_BUREAU AS bureauShortName ,
STN_BUREAU_FULL,
ARR_TRAIN_NBR,
DPT_TRAIN_NBR,
ARR_TIME AS arrTime,
DPT_TIME AS dptTime,
BASE_ARR_TIME,
BASE_DPT_TIME,
UP_DOWN,
TRACK_NBR,
TRACK_NAME AS trackName,
PLATFORM,
PSG_FLG,
LOCO_FLAG,
TEC_TYPE,
STN_TYPE,
BOUNDARY_IN_OUT,
RUN_DAYS AS runDays
   
   FROM PLAN_TRAIN_STN WHERE PLAN_TRAIN_ID= #{planTrainId}  ORDER BY STN_SORT

	 
   
   </select>
   
   <!-- 从原始图获取列车时刻表 -->
 <select id="getTrainTimeInfoByPlanTrainId"  parameterType="string"  resultType="org.railway.com.trainplan.entity.BaseCrossTrainInfoTime">
	 select
	  case 
	   when 
	    T1.STNTYPE='0'
	    THEN '0'
	    WHEN 
	    T1.STNTYPE='1'
	    THEN
	      CASE 
	        WHEN 
	          (SELECT COUNT(*) FROM JHPT_JCSJ.ZDFJK T3 WHERE T3.CNAME=T1.stn_name) >0 
	        THEN 'FJK'
	        WHEN T1.ARR_TIME=T1.DPT_TIME
	        THEN 'BT'
	        ELSE 'TZ'
	      END
		end stationFlag ,
		T1.BASE_TRAIN_ID ,
		T1.STN_SORT AS stnSort,
		T1.STN_NAME AS stnName,
		T1.STN_BUREAU ,
		T1.STN_BUREAU_FULL  ,
		T1.ARR_TIME AS arrTime ,
		T1.DPT_TIME AS dptTime,
		T1.run_days AS runDays,
		T1.stnType AS stnType,
		T1.TRACK_NAME AS trackName
	
		FROM
		(
		  SELECT t.ID,
		         t.parent_id      BASE_TRAIN_ID,
		         T.CHILD_INDEX    STN_SORT,
		         T.NAME           STN_NAME,
		         T.Bureau_Shortname STN_BUREAU,
		         T.Bureau_Name    STN_BUREAU_FULL,
		        TO_CHAR(T.TIME, 'yyyy-MM-dd hh24:mi:SS') ARR_TIME,
		         TO_CHAR(T.TIME, 'yyyy-MM-dd hh24:mi:SS') DPT_TIME,
		         0                run_days,
		         '0'              stnType,
		         T.TRACK_NAME     
		    FROM JHPT_RJH.M_TRAINLINETEMP_SCHEDULE_SITEM T
		  WHERE t.parent_id = #{planTrainId}
		  
		  UNION ALL
		   SELECT t.ID,
		         t.parent_id      BASE_TRAIN_ID,
		         T.CHILD_INDEX    STN_SORT,
		         T.NAME           STN_NAME,
		         T.Bureau_Shortname STN_BUREAU,
		         T.Bureau_Name    STN_BUREAU_FULL,
		       TO_CHAR(T.SOURCE_TIME, 'yyyy-MM-dd hh24:mi:SS')  ARR_TIME,
		       TO_CHAR(T.TARGET_TIME, 'yyyy-MM-dd hh24:mi:SS')  DPT_TIME,
		         t.relative_source_time_day run_days,
		          '1'              stnType,
		         T.TRACK_NAME     
		    FROM JHPT_RJH.M_TRAINLINETEMP_SCHEDULE_RITEM T
		   
		    WHERE t.parent_id = #{planTrainId}
		    
		  
		  UNION ALL
		  SELECT t.ID,
		         t.parent_id      BASE_TRAIN_ID,
		         T.CHILD_INDEX    STN_SORT,
		         T.NAME           STN_NAME,
		         T.Bureau_Shortname STN_BUREAU,
		         T.Bureau_Name    STN_BUREAU_FULL,
		         --TO_CHAR(T.TIME, 'hh24:mi:SS') TIME,
		        TO_CHAR(T.TIME, 'yyyy-MM-dd hh24:mi:SS')  ARR_TIME,
		        TO_CHAR(T.TIME, 'yyyy-MM-dd hh24:mi:SS')  DPT_TIME,
		         t.relative_time_day run_days,
		          '0'              stnType,
		         T.TRACK_NAME     
		    FROM JHPT_RJH.M_TRAINLINETEMP_SCHEDULE_TITEM T
		       
		  WHERE t.parent_id = #{planTrainId}
		)T1 order by T1.STN_SORT
		 
 </select>
 
 
<select id="getPlanLineTrainTimeInfoByTrainId" parameterType="string" resultType="org.railway.com.trainplan.entity.TrainTimeInfo">
SELECT  T1.*,
 case 
   when 
    T1.STNTYPE='0'
    THEN 'SFZ'
    WHEN
    T1.STNTYPE='2'
    THEN 'ZDZ'
    WHEN 
    T1.STNTYPE='1'
    THEN
      CASE 
        WHEN 
          (SELECT COUNT(*) FROM JHPT_JCSJ.ZDFJK T3 WHERE T3.CNAME=T1.stnname) >0 
        THEN 'FJK'
        WHEN T1.ARRTIME=T1.DPTTIME
        THEN 'BTZ'
        ELSE 'TZ'
      END
end stationFlag 
FROM 
(
SELECT B.PLAN_TRAIN_STN_ID AS PLANTRAINSTNID,A.TRAIN_NBR,TO_CHAR(A.START_TIME,'yyyy-MM-dd hh24:mi:SS') AS STARTTIME,TO_CHAR(A.END_TIME,'yyyy-MM-dd hh24:mi:SS') AS ENDTIME,A.START_STN,A.END_STN,
B.STN_SORT AS childIndex,B.STN_NAME AS STNNAME,B.STN_BUREAU AS bureauShortName,B.STN_BUREAU_FULL AS STNBUREAUFULL,TO_CHAR(B.ARR_TIME,'yyyy-MM-dd hh24:mi:SS') AS ARRTIME,TO_CHAR(B.DPT_TIME,'yyyy-MM-dd hh24:mi:SS') AS DPTTIME,
B.RUN_DAYS AS RUNDAYS,B.TRACK_NAME AS TRACKNAME,
CASE
  WHEN A.START_STN=B.STN_NAME THEN '0'
  WHEN A.END_STN=B.STN_NAME THEN '2'
  ELSE '1'
END STNTYPE
FROM PLAN_TRAIN A,PLAN_TRAIN_STN B WHERE A.PLAN_TRAIN_ID = B.PLAN_TRAIN_ID AND  B.PLAN_TRAIN_ID = #{planTrainId}  order by ARRTIME
) T1
   
   </select>
   <select id="getTrainLineTimes" parameterType="string" resultType="org.railway.com.trainplan.entity.TrainTimeInfo">
 select s.child_index childIndex,
       s.name stnName,
       s.bureau_shortname bureauShortName,
       s.node_id nodeId,
       s.track_name trackName,
       '-' AS arrTime,
       TO_CHAR(s.time, 'hh24:mi:SS') as dptTime
  from jhpt_rjh.m_trainline_schedule_sitem s
 where s.parent_id = #{trainId}
UNION all
select  r.child_index childIndex,
       r.name stnName,
       r.bureau_shortname bureauShortName,
       r.node_id nodeId,
       r.track_name trackName,
       TO_CHAR(r.SOURCE_TIME, 'hh24:mi:SS') AS arrTime,
       TO_CHAR(r.TARGET_TIME, 'hh24:mi:SS') AS dptTime
  from jhpt_rjh.m_trainline_schedule_ritem r
 where r.parent_id = #{trainId}
UNION all
select  t.child_index childIndex,
       t.name stnName,
       t.bureau_shortname bureauShortName,
       t.node_id nodeId,
      t.track_name trackName,
       TO_CHAR(t.time, 'hh24:mi:SS') AS arrTime,
       '-' as dptTime
  from jhpt_rjh.m_trainline_schedule_titem t
 where t.parent_id = #{trainId} order by childIndex
   
   </select>
   
   <update id="editPlanLineTrainTimes" parameterType="map">
   UPDATE PLAN_TRAIN_STN SET 
     ARR_TIME = TO_DATE(#{arrTime},'yyyy-MM-dd hh24:mi:SS'),
     DPT_TIME = TO_DATE(#{dptTime},'yyyy-MM-dd hh24:mi:SS'),
     TRACK_NAME = #{trackName}
     WHERE PLAN_TRAIN_STN_ID=#{planTrainStnId}
   
   </update>
   
   <update id="updateSpareFlag" parameterType="map">
        UPDATE PLAN_TRAIN  SET 
        SPARE_FLAG = ${spareFlag}
        WHERE PLAN_TRAIN_ID=#{planTrainId}
   
   </update>
   
   
   
</mapper>