<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="trainInfoDao"> 
    
	<select id="getTrainInfoTotalCount" parameterType="map" resultType="map">
	  select count(*) as count from jhpt_jbt.m_trainline_temp t where 1=1  AND t.PARENT_ID = #{chartId}
	  	<if test="operation != null">
			AND t.BUSINESS =#{operation}
		</if>
	 	<if test="trainNbr != null and fuzzyFlag == 1">
			AND t.name like '%${trainNbr}%'
		</if>
		<if test="trainNbr != null and fuzzyFlag == 0">
			AND t.name = #{trainNbr} 
		</if>
		<if test="startBureauShortName != null">
		   AND t.SOURCE_BUREAU_SHORT_NAME = #{startBureauShortName}
		</if> 
		<if test="endBureauShortName != null">
		   AND t.TARGET_BUREAU_SHORT_NAME = #{endBureauShortName}
		</if>
	</select>
	
	<select id="getTrainInfoForTrainId" parameterType="string" resultType="org.railway.com.trainplan.service.dto.TrainlineTemplateDto">
	 select id as planTrainId,
	 name as TrainNbr,
	 source_bureau_name as StartBureauFull,
	 target_bureau_name as EndBureauFull,
	 source_node_name as StartStn,
	 target_node_name as EndStn,
	 TARGET_TIME_SCHEDULE_DATES as rundays,
	 TO_CHAR(source_time, 'hh24:mi:SS')  as StartTime,
	 TO_CHAR(target_time, 'hh24:mi:SS')  as EndTime
	 
	 from  JHPT_jbt.m_trainline_temp where id=#{baseTrainId}
		
	</select>
	

	<select id="getTrainInfo"  parameterType="map" resultType="org.railway.com.trainplan.entity.PlanTrain">
	    select id as planTrainId,
	    name as trainNbr,
        source_node_name as startStn, 
        target_node_name as endStn,
        source_bureau_short_name as startBureauShortName, 
        TARGET_BUREAU_SHORT_NAME as endBureau,
        route_bureau_shortnames as routingBureauShortName,
        TARGET_TIME_SCHEDULE_DATES as relativeTargetTimeDay,
        source_bureau_name as startBureauFull,
        target_bureau_name as endBureauFull,
        to_char(source_time,'hh24:mi:ss') as startTimeStr,
        to_char(target_time,'hh24:mi:ss')  as endTimeStr,
        BUSINESS as operation
        from jhpt_jbt.m_trainline_temp t where 1=1  AND t.PARENT_ID = #{chartId}
    	<if test="trainNbr != null">
			AND t.name= #{trainNbr}
		</if>
		<if test="operation != null">
			AND t.BUSINESS= #{operation}
		</if>
		<if test="startBureau != null">
		   AND t.source_bureau_short_name = #{startBureauShortName}
		</if> 
		<if test="endBureau != null">
		   AND t.target_bureau_short_name = #{endBureauShortName}
		</if>
		   order by trainNbr
	</select>
	
	<select id="getTrainlineTotalCount" parameterType="map" resultType="map">
	  select count(*) as count from jhpt_rjh.m_trainline t where 1=1 
	  	<if test="operation != null">
			AND t.operation= #{operation}
		</if> 
		<if test="startBureauShortName != null">
		   AND t.source_bureau_shortname = #{startBureauShortName}
		</if> 
		<if test="startDate != null">
		  and to_char(t.source_time, 'yyyymmdd') = #{startDate}
		</if>
	</select>
 
	
	<select id="getTrainlineForPage"  parameterType="map" resultType="org.railway.com.trainplan.entity.PlanTrain">
	    select * from (select ROWNUM AS num, m.*  from  
	    ( 
		   select id as planTrainId,
			    name as trainNbr,
		        source_node_name as startStn, 
		        target_node_name as endStn,
		        source_bureau_shortname as startBureau, 
		        target_bureau_shortname as endBureau,
		        route_bureau_shortnames as routingBureauShortName, 
		        source_bureau_name as startBureauFull,
		        target_bureau_name as endBureauFull,
		        to_char(source_time,'hh24:mi:ss') as startTimeStr,
		        to_char(target_time,'hh24:mi:ss')  as endTimeStr,
		        operation as operation
		  from jhpt_rjh.m_trainline t
		 where  1 = 1
			<if test="operation != null">
				AND t.operation= #{operation}
			</if> 
			<if test="startBureauShortName != null">
			   AND t.source_bureau_shortname = #{startBureauShortName}
			</if> 
			<if test="startDate != null">
			  and to_char(t.source_time, 'yyyymmdd') = #{startDate}
			</if>
		    order by trainNbr
		     ) m  ) where num >=#{rownumstart} AND num &lt;=#{rownumend} 
	</select>
	
	<select id="getTrainInfoForPage"  parameterType="map" resultType="org.railway.com.trainplan.entity.PlanTrain">
	    select * from (select ROWNUM AS num, m.*  from  
	    ( 
		select id as planTrainId,
		name as trainNbr,
        source_node_name as startStn, 
        target_node_name as endStn,
        source_bureau_short_name as startBureau, 
        target_bureau_short_name as endBureau,
        route_bureau_short_names as routingBureauShortName,
        TARGET_TIME_SCHEDULE_DATES as relativeTargetTimeDay,
        source_bureau_name as startBureauFull,
        target_bureau_name as endBureauFull,
        to_char(source_time,'hh24:mi:ss') as startTimeStr,
        to_char(target_time,'hh24:mi:ss')  as endTimeStr,
        BUSINESS as operation
        from jhpt_jbt.m_trainline_temp t where 1=1  AND t.PARENT_ID = #{chartId}
        <if test="operation != null">
			AND t.BUSINESS = #{operation} 
		</if>
    	<if test="trainNbr != null and fuzzyFlag == 1">
			AND t.name like '%${trainNbr}%'
		</if>
		<if test="trainNbr != null and fuzzyFlag == 0">
			AND t.name = #{trainNbr} 
		</if>
		<if test="startBureauShortName != null">
		   AND t.source_bureau_short_name = #{startBureauShortName}
		</if> 
		<if test="endBureauShortName != null">
		   AND t.target_bureau_short_name = #{endBureauShortName}
		</if>
		   order by trainNbr
		 ) m  ) where num >=#{rownumstart} AND num &lt;=#{rownumend} 
		
	</select>
	

</mapper>